.content {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/backgrown/demandedevis-2.jpeg");
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-color: white;
}

#content > .div-content {
  padding: 10px;
}

/* Stylise le formulaire */
.div-content > .submit-form {
  background-color: rgba(78, 78, 78, 0.8);
  width: 30%;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.content-form > .formulaire {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
}

.formulaire > .nows {
  background-color: blue;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: white;
}

.formulaire > .assemble {
  margin: 5px;
  padding: 5px;
}

.assemble > .assemb {
  margin: 5px;
  padding: 5px;
}

.assemb > .control-label {
  margin: 5px;
  padding: 5px;
  color: white;
}

.assemb > .champs,
.textarea {
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0px 0 10px 10px;
}

.assemb > .champs:focus,
.textarea:focus {
  outline: none;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 0px 0 10px 10px;
}

.assemble > #assemb {
  display: flex;
}

.assemb > .actions {
  margin-top: 3px;
  padding: 5px;
}

.assemb > #subm {
  margin-left: auto;
}

#subm > #submit {
  background-color: blue;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 255);
  color: white;
}

#res > #reset {
  background-color: rgb(231, 56, 94);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(231, 56, 94);
  color: white;
}
