.content {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("../images/font.webp");
  background-position: right;
  background-attachment: fixed;
}

#content > .div-content {
  padding: 10px;
  display: flex;
}

.div-content > .lire-text {
  background-color: rgba(78, 78, 78, 0.8);
  width: 69%;
  margin-top: 0px;
  margin-left: -5px;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

.lire-text > .div-text {
  border: 2px solid rgb(250, 250, 250);
  padding: 10px;
}

.div-text > .title-text {
  background-color: blue;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}

.div-text > .content-text {
  margin: 10px;
  padding: 10px;
  text-align: justify;
}

.content-text > p {
  margin: 5px;
  padding: 5px;
  text-align: justify;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  text-align: justify;
}

.div-text > .soomettre-devis {
  background-color: blue;
  width: 300px;
  margin-left: auto;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
}

.soomettre-devis > a {
  text-decoration: none;
  color: white;
}

/* Stylise le formulaire */
.div-content > .submit-form {
  background-color: rgba(78, 78, 78, 0.8);
  width: 30%;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.content-form > .formulaire {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
}

.formulaire > .nows {
  background-color: blue;
  border: 2px solid rgb(0, 0, 255);
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: white;
}

.formulaire > .assemble {
  margin: 5px;
  padding: 5px;
}

.assemble > .assemb {
  margin: 5px;
  padding: 5px;
}

.assemb > .control-label {
  margin: 5px;
  padding: 5px;
  color: white;
}

.assemb > .champs,
.textarea {
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0px 0 10px 10px;
}

.assemb > .champs:focus,
.textarea:focus {
  outline: none;
  width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 255);
  border-radius: 0px 0 10px 10px;
}

.assemble > #assemb {
  display: flex;
}

.assemb > .actions {
  margin-top: 3px;
  padding: 5px;
}

.assemb > #subm {
  margin-left: auto;
}

#subm > #submit {
  background-color: blue;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 255);
  color: white;
}

#res > #reset {
  background-color: rgb(231, 56, 94);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(231, 56, 94);
  color: white;
}

/* ANIMATION DU MENU */
/* ANIMATION DU MENU */
/* ANIMATION DU MENU */
#home,
#our-form:hover {
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.06); /* Safari et Chrome */
  -moz-transform: scale(1.06); /* Firefox */
  -ms-transform: scale(1.06); /* Internet Explorer 9 */
  -o-transform: scale(1.06); /* Opera */
  transform: scale(1.06);
  background-color: rgb(255, 255, 255);
}

#home,
#our-form:hover {
  color: hsl(324, 70%, 45%);
  animation: souscrire 10s infinite;
  background-color: currentColor;
}

@supports (background-blend-mode: overlay) {
  #home,
  #our-form:hover {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}

#home,
#our-form:hover {
  animation-duration: 2s;
  animation-name: souscrire;
  animation-iteration-count: infinite;
}

@keyframes souscrire {
  from,
  to {
    color: hsl(0, 0%, 99%);
  }
  0% {
    background-color: hsl(0, 75%, 35%, 1);
    border: 2px solid hsl(56, 75%, 35%, 1);
  }
  10% {
    background-color: hsl(360, 65%, 45%, 1);
    border: 2px solid hsl(288, 60%, 40%, 1);
  }
  20% {
    background-color: hsl(36, 80%, 45%, 1);
    border: 2px solid hsl(252, 65%, 50%, 1);
  }
  30% {
    background-color: hsl(72, 75%, 35%, 1);
    border: 2px solid hsl(216, 60%, 45%, 1);
  }
  40% {
    background-color: hsl(108, 65%, 35%, 1);
    border: 2px solid hsl(180, 75%, 35%, 1);
  }
  50% {
    background-color: hsl(144, 75%, 35%, 1);
    border: 2px solid hsl(144, 75%, 35%, 1);
  }
  60% {
    background-color: hsl(180, 75%, 35%, 1);
    border: 2px solid hsl(108, 65%, 35%, 1);
  }
  70% {
    background-color: hsl(216, 60%, 45%, 1);
    border: 2px solid hsl(72, 75%, 35%, 1);
  }
  80% {
    background-color: hsl(252, 65%, 50%, 1);
    border: 2px solid hsl(36, 80%, 45%, 1);
  }
  90% {
    background-color: hsl(288, 60%, 40%, 1);
    border: 2px solid hsl(360, 65%, 45%, 1);
  }
  100% {
    background-color: hsl(56, 75%, 35%, 1);
    border: 2px solid hsl(0, 75%, 35%, 1);
  }
}
