.my-slider > .slider {
  width: 1335px;
  overflow: hidden;
  margin-top: -15px;
}

.slider > .slides {
  width: calc(1335px * 4);
  animation: defiler 32s infinite;
}

.slides > .slide {
  float: left;
}

.our-sliders {
  margin-top: -20px;
}

.slide-img {
  width: 1335px;
  height: 570px;
}

@keyframes defiler {
  0%,
  15%,
  100% {
    transform: translateX(
      0
    ); /*On définit zéro comme absisse de position de basse*/
  }

  25%,
  40% {
    transform: translateX(-1335px);
  }

  50%,
  65% {
    transform: translateX(-2670px);
  }

  75%,
  90% {
    transform: translateX(-4005px);
  }
}

/* CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU */
/* CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU */
/* CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU CONTENU */

.content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("./../images/hero_auto.png");
  background-position: right;
}

#content > .div-content {
  padding: 10px;
}

.offre {
  background-color: rgb(0, 0, 255);
  border: 1.5px solid rgb(255, 0, 0);
  margin-top: 5px;
  padding: 3px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 45px;
  color: rgb(255, 255, 255);
}

.conto {
  display: flex;
}

.conto > .conte {
  padding: 2fnospx;
  margin-left: 20px;
  margin-right: 20px;
}

/* .div-content > .conte {
  margin-top: -200px;
} */

.conte > img {
  margin-top: 5px;
  width: 110px;
  height: 110px;
  margin-left: 1px;
  margin-right: 1px;
}

.conte > div {
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
}

.conte > .libelle {
  text-align: center;
  justify-content: center;
}

#m1 {
  margin-left: 15%;
}

#m2,
#m3 {
  margin-left: 25%;
}

#div-content-2 {
  padding: 10px;
  /* margin-top: -400px; */
}

.div-content-2 > .content-2 {
  width: 750px;
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
  padding: 10px;
}

.h2-content-2 {
  background-color: blue;
  padding: 10px;
  max-width: 750px;
  text-align: center;
  color: white;
}

.content-2 > .blogs {
  padding: 5px;
  margin-top: -15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 2px solid blue;
}

.blogs:hover {
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.06); /* Safari et Chrome */
  -moz-transform: scale(1.06); /* Firefox */
  -ms-transform: scale(1.06); /* Internet Explorer 9 */
  -o-transform: scale(1.06); /* Opera */
  transform: scale(1.06);
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(255, 0, 0);
}

.blogs > img {
  width: 90px;
  height: 90px;
  margin-left: 20px;
  padding: 5px;
}

.blogs > .formular {
  text-align: center;
  padding: 5px;
  color: black;
}

.blogs > .formula-content {
  text-align: justify;
}

.blogs > .souscrire {
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

.souscrire > div {
  background-color: blue;
  padding: 3px;
  color: white;
}

.blogs > .plus {
  margin: auto;
  text-align: center;
  color: blue;
}
